
@font-face{
   
    src: url('fonts/artnouveaucaps.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
}
	*,header,div,footer{
	outline: 0px dashed red;
}
body{
	background-image: 		url(images/slidepic/1.jpg);
	background-repeat: 		no-repeat;
	background-position: 	top center;
	background-size: 		cover;
	background-attachment:  fixed;
	z-index: 				-5;
}
div.content-container{
	margin: 				0 auto;
	width: 					980px;
}

.content-container header.head{
	width: 					inherit;
	z-index: 				100;
}
.content-container header.head .contain{
	width: 					inherit;
}

.content-container header.head .contain .menubar{
	width: 					inherit;
	min-height: 			250px;
}
.content-container header.head .contain .menubar .logo{
	float: 					left;
	margin-top: 			90px;
}
.content-container header.head .contain .menubar .logo img{
	width: 					280px;
	min-height: 			110px;
	
}
.content-container header.head .contain .menubar .menu{
	width: 					400px;
	min-height: 			250px;
	margin-left: 			600px;
	font-weight: 			bolder;
	position: 				absolute;
}

.content-container header.head .contain .menubar .menu ul{
	list-style-type:		none;	
	width: 					380px;
}

.content-container header.head .contain .menubar .menu ul li{
	float: 					right;
	width: 					95px;
	min-height: 			250px;
	text-align: 			center;
	display: 				inline-block;
}

.content-container header.head .contain .menubar .menu ul li a{
	text-decoration: 		none;
	color:					white;
	display: 				inline-block;
	font: 					14px/242px 'Playfair Display', 'Times New Roman', serif;
	font-weight: 			bolder;
	text-transform: 		uppercase;
	width: 					100%;
	height: 				100%;
	letter-spacing: 		4px;
	background-image: 		url(images/menu_bg.png);
	background-repeat: 		no-repeat;
	background-size: 		cover;
	background-position: 	0px -250px;
	-webkit-transition: 	all 1s;
  	-moz-transition: 		all 1s;
  	-o-transition: 			all 1s;
  	-os-transition: 		all 1s;
}
.content-container header.head .contain .menubar .menu ul li a:hover{
	background-position: 	0 0;
	-webkit-transition: 	all 500ms;
  	-moz-transition: 		all 500ms;
  	-o-transition: 			all 500ms;
  	-ms-transition: 		all 500ms;
  	
}
/* ... End MENUBAR ... */

section.middle{
	min-height: 550px;
}

/*  Slide & Footer  */
footer.foot{
	margin:  				0 auto;
	width: 					100%;
	right: 					0;
	left: 					0;
	min-height: 			200px;
	background-image: 		url(images/footer_bg.png);
	background-repeat: 		repeat-x;
	padding: 				1px; 
	position: 				absolute;
}
footer.foot .mom{
	margin: 				0 auto;
	min-height: 			150px;
	width: 					1300px;
	position: 				relative;
	padding:				1px;
	margin-top: 			4px;	
}
footer.foot .mom .slide{
	width: 					1080px;
	min-height: 			140px;
	margin: 				0 auto;
	margin-top: 			5px;
}
footer.foot .mom .slide .slidebar{
	width: 					950px;
	min-height: 			130px;
	margin: 				0 auto;
	padding: 				1px;
	overflow: 				hidden;
}

footer.foot .mom .slide .slidebar .train {
	width     :				2000px;
	height    : 			100px;
	margin    : 			0 auto;
	margin-top: 			0px;
	position  : 			relative;
	transition: 			all 500ms;
	-webkit-transition: 	all 500ms;
  	-moz-transition: 		all 500ms;
  	-o-transition: 			all 500ms;
  	-ms-transition: 		all 500ms;
}

footer.foot .mom .slide .slidebar .train a {
}

footer.foot .mom .slide .slidebar .train a img{
	width  : 				150px;
	height :				63px;
	border-radius:			8px;
	opacity: 				0.5;
	margin-right:			10px;
	
	-webkit-transition:		all 500ms;
  	-moz-transition:		all 500ms;
  	-o-transition: 			all 500ms;
  	-ms-transition: 		all 500ms;
}
footer.foot .mom .slide .slidebar .train img:first-child{
	margin-left: 			0px;	
	border-left: 			0 none;
}
footer.foot .mom .slide .slidebar .train img:hover{
	opacity: 				1;
	cursor:					pointer;	
	-webkit-transition: 	all 500ms;
  	-moz-transition: 		all 500ms;
  	-o-transition: 			all 500ms;
  	-os-transition: 		all 500ms;
}

/*    ...Next & Previous...    */
footer.foot .mom .slide .next, footer.foot .mom .slide .previous{
	width: 					20px;
	height: 				50px;
	text-align: 			left;
	background-repeat: 		no-repeat;
	-webkit-transition: 	all 350ms;
  	-moz-transition: 		all 350ms;
  	-o-transition: 			all 350ms;
  	-os-transition: 		all 350ms;
}
footer.foot .next{
	float: 					right;
	background-image: 		url(images/arrowR.png);
	background-position: 	-25px;
}

footer.foot .previous{
	float: 					left;
	background-image: 		url(images/arrowL.png);
	background-position: 	4px;
}
footer.foot .next:hover, footer.foot .previous:hover{
	cursor: 				pointer;
	-webkit-transition: 	all 155ms;
  	-moz-transition: 		all 155ms;
  	-o-transition: 			all 155ms;
  	-os-transition: 		all 155ms;			
}
footer.foot .previous:hover{
	background-position: 	right center;	
}
footer.foot .next:hover{
	background-position: 	left center;	
}
/* END Next & Previous */


/*  ...Footer Text...   */
footer.foot .text{
	width: 					500px;
	height: 				30px;
	margin: 				0 auto;
	margin-top:				50px;
	color: 					#fff;
	text-align: 			center;
	bottom: 				30px;
}

footer.foot .text p {
	color: 					#fff;
	font-size: 				12px;
}
/* --- About Page --- */

section.middle .aboutpg{
	background-color:		white;
	width: 					inherit;
	min-height: 			600px;
	opacity: 				1;
	border-radius: 			20px;
	margin-bottom: 			50px;
	padding:		 		1px;

}
section.middle .aboutpg .text{
	width: 					940px;
	min-height: 			400px;
	margin: 				0 auto;
	margin-top: 			60px;
	direction: 				rtl;
	text-align: 			right;
	line-height: 			26px;
	
}
section.middle .aboutpg .text p{
	font-size: 					17px; 
	font-family: 				'Playfair Display', 'Times New Roman', serif;
	font-style: 				normal;
}
/* --- Contact Page --- */

section.Ajaxloader div.contact{
	background-color: 		#fff;
	width: 					inherit;
	min-height: 			600px;
	border-radius: 			20px;
	margin-bottom: 			50px;
	padding:		 		1px;
	box-shadow: 			8px 8px 8px 8px;
	opacity: 				1;
	direction: 				ltr;	
	text-align: 			left;
}

section.Ajaxloader div.contact .leftcontact, section.Ajaxloader div.contact .rightcontact{
	width: 					450px;
	min-height: 			500px;
	margin-top: 			25px;
	float: 					right;
	margin-right: 			30px;
	text-align: 			right;
	color: 					#555;
}

section.Ajaxloader div.contact .rightcontact input{
	width: 					300px;
	min-height: 			25px;
	margin-top: 			80px;
	border-radius: 			10px;
	border: 				inset 2px;
	text-align: 			right;
}
section.Ajaxloader div.contact .rightcontact .email, section.Ajaxloader div.contact .rightcontact .messege{
	margin-top: 			13px;
	border-radius: 			10px;
	border: 				inset 2px;
	text-align: 			right;
}
section.Ajaxloader div.contact .rightcontact .messege{
	min-height: 			200px;
	width: 					420px;
	border-radius: 			10px;
	border: 				inset 2px;
}
section.Ajaxloader div.contact .rightcontact input.but{
	margin-top: 			20px;
	color: 					black;
	font:					19px monospace;
	text-decoration: 		none;
	cursor: 				pointer;
	border: 				none;
	background-color: 		#555;
	text-align: 			center;
	width: 					110px;
	height: 				35px;
	color: 					#fff;
	-webkit-transition: 	all 500ms;
  	-moz-transition: 		all 500ms;
  	-o-transition: 			all 500ms;
  	-os-transition: 		all 500ms;

}
section.Ajaxloader div.contact .rightcontact input.but:hover{
	background-color: 		#111;
	color: 					#eee;
	-webkit-transition: 	all 500ms;
  	-moz-transition: 		all 500ms;
  	-o-transition: 			all 500ms;
  	-os-transition: 		all 500ms;
}
section.Ajaxloader div.contact .rightcontact iframe{
	opacity: 				0;
}
section.Ajaxloader div.contact .rightcontact a:hover{
	text-decoration: 		underline;
}	
section.Ajaxloader div.contact .leftcontact{
	margin-right: 			520px;
	float: 					none;
	text-align: 			right;
	margin-top: 			50px;
}
section.Ajaxloader div.contact .leftcontact p{
	margin-top: 			180px;
	line-height: 			25px;
	margin-right: 			25px;
	color: 					#000;
}
section.Ajaxloader div.contact .leftcontact ul{
	margin-top: 			50px;
	margin-right: 			50px;
}
section.Ajaxloader div.contact .leftcontact ul li{
	float: 					right;
	margin-right: 			5px;
	border-right: 			8px solid transparent;
}
section.Ajaxloader div.contact .leftcontact ul li img{
	width: 					35px;
	height: 				35px;
	opacity: 				0.7;
	-webkit-transition: 	all 500ms;
  	-moz-transition: 		all 500ms;
  	-o-transition: 			all 500ms;
  	-os-transition: 		all 500ms;

}
section.Ajaxloader div.contact .leftcontact ul li img:hover{
	opacity:				1;
	cursor: 				pointer;
}

/* Gallery Page */
section.Ajaxloader div.gallery{
	background-color:		white;
	width: 					inherit;
	min-height: 			800px;
	border-radius: 			20px;
	margin-bottom: 			50px;
	padding:		 		1px;
	box-shadow: 			8px 8px 8px 8px;
	opacity: 				1;
}

section.Ajaxloader div.gallery ul{
	padding-top: 25px;
	margin-right: 60px;
}

section.Ajaxloader div.gallery ul li{
	float: right;
	margin-right: 18px;
	height: 250px;
}

section.Ajaxloader div.gallery ul li a{
	display: block;
	position: relative;
}

section.Ajaxloader div.gallery ul li .effe{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url('./images/magnify.png') center center no-repeat #000;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

section.Ajaxloader div.gallery ul li .effe:hover{
	opacity: 0.4;
	-webkit-transition: opacity 800ms;
	-moz-transition: opacity 800ms;
	-ms-transition: opacity 800ms;
	-o-transition: opacity 800ms;
	transition: opacity 800ms;
}

section.Ajaxloader div.gallery ul li img{
	width: 265px;
	height: 177px;
}

section.Ajaxloader div.gallery ul li p{
	margin-top: 11px;
	color: #deae54;
	font-size: 18px;
}
section.Ajaxloader div.gallery .links{
	direction: 				rtl;
	margin: 				0 auto;
	text-align: 			center;
}
section.Ajaxloader div.gallery .links a{
	color: 					#fff;
	text-decoration: 		none;
	padding: 				5px 16px;
	background-color: 		#777;
	border-radius: 			50px;
	-webkit-transition: all 300ms;
	-moz-transition: 	all 300ms;
	-ms-transition: 	all 300ms;
	-o-transition: 		all 300ms;
	transition: 		all 300ms;
}	
section.Ajaxloader div.gallery .links a:hover{
	background-color: 		#333;	
	-webkit-transition: all 800ms;
	-moz-transition: 	all 800ms;
	-ms-transition: 	all 800ms;
	-o-transition: 		all 800ms;
	transition: 		all 800ms;
}
/* Players Page */
section.middle div.gallery{
	background-color:		white;
	width: 					inherit;
	border-radius: 			20px;
	margin-bottom: 			50px;
	padding:		 		1px;
	box-shadow: 			8px 8px 8px 8px;
	opacity: 				1;
	text-align: 			right;
}
section.middle div.gallery .contain{
	width: 					950px;
	min-height: 			350px;
	padding: 				1px;
}
section.middle div.gallery .contain a{
	
}
section.middle div.gallery .contain a img{
	float: 					right;
	margin-right: 			20px;
	margin-top: 			20px;
	width: 					190px;
	height: 				190px;
	border-radius: 			11px;
	opacity: 				0.9;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}
section.middle div.gallery .contain a img:hover{
	opacity: 				1;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}
section.middle div.gallery .contain h3{
	margin-top: 			40px;
	margin-right: 			230px;
	color: 					#333;
}
section.middle div.gallery .contain p{
	margin-right: 			250px;
	color: 					#000;
}
section.middle div.gallery .two a img{
	float: 					left;
	margin-left: 			20px;
}
section.middle div.gallery .two h3{
	margin-right: 			540px;
}
section.middle div.gallery .two p{
	margin-right: 			250px;
}